@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rowdies:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #343330;
  @apply font-rowdies;
  overflow-x: hidden;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 12px;
}

.gradient-border {
  position: relative;
  overflow: hidden;
}

.gradient-border::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 4px;
  background: linear-gradient(to right, #ddd, #9333ea);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.gradient-border:hover::after {
  transform: scaleX(1);
}

.placeholder {
  color: white;
  /* Replace #yourColor with the desired hex color */
  opacity: 1;
  /* Override default opacity */
}


/* animations */

.workbutton:hover {
  background-color: #1e9bff;
  color: #1e9bff;
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px #1e9bff;
}

.workbutton::after {
  position: absolute;
  content: "";
  inset: 2px;
  background: #343330;
}

.workbutton span {
  position: relative;
  z-index: 1;
}

.workbutton i {
  position: absolute;
  inset: 0;
  display: block;
}

.workbutton i::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 80%;
  width: 20px;
  height: 4px;
  background: #343330;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s ease;
}

.workbutton:hover i::before {
  width: 40px;
  left: 20%;
}

.workbutton i::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 20%;
  width: 20px;
  height: 7px;
  background: #343330;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s ease;
}

.workbutton:hover i::after {
  width: 40px;
  left: 80%;
}



.herobutton:hover {
  background-color: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
    0 0 25px #03e9f4,
    0 0 50px #03e9f4,
    0 0 200px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

.herobutton:first-child{
  filter: hue-rotate(225deg);
}
.herobutton:last-child{
  filter: hue-rotate(90deg);
}
.herobutton span {
  position: absolute;
  display: block;
}

.herobutton span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: animate1 1s infinite;
}

@keyframes animate1 {
  0%{
    left: -100%;
  }
  100%{
    left: 100%;
  }
}

.herobutton span:nth-child(2){
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: animate2 1s infinite;
  animation-delay: .25s;
}
@keyframes animate2 {
  0%{
    top: -100%;
  }
  100%{
    top: 100%;
  }
}

.herobutton span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: animate3 1s infinite;
  animation-delay: .5s;
}
@keyframes animate3 {
  0%{
    right: -100%;
  }
  100%{
    right: 100%;
  }
}

.herobutton span:nth-child(4){
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: animate4 1s infinite;
  animation-delay: .75s;
}
@keyframes animate4 {
  0%{
    top: 100%;
  }
  100%{
    top: -100%;
  }
}

.inputbox span{
  padding: 16px;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span,
.inputbox textarea:valid ~ span,
.inputbox textarea:focus ~ span
{
  color: #00dfc4;
  transform: translateX(20px) translateY(-7px);
  font-size: 14px;
  padding: 0 10px;
  top: -8px;
  background-color: #1d2b3a;
  border-left: 1px solid #03e9f4;
  border-right: 1px solid #03e9f4;
  letter-spacing: 0.2em;
}

.inputbox input:valid,
.inputbox input:focus,
.inputbox textarea:valid,
.inputbox textarea:focus
{
  border: 1px solid #03e9f4;
}
.imagebox {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: 0 auto 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagebox::before {
  content: "";
  position: absolute;
  inset: -10px 100px;
  background: linear-gradient(315deg, #00ccff, #d900d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
  z-index: -1;
}

.imagebox:hover::before {
  inset: -20px 0;
  animation: none;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imagebox::after {
  content: "";
  position: absolute;
  inset: 4px;
  background: #162052;
  border-radius: 50%;
  z-index: 1;
}

.imagebox img {
  transition: 0.5s;
  position: relative;
  z-index: 2;
}

.imagebox:hover img {
  opacity: 0;
}

.imagebox h3 {
  position: absolute;
  top: 40%;
  text-align: center;
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: 0.5s;
  z-index: 3;
  top: 40%; /* Center vertically */
  transform: translateY(-50%);
}

.imagebox h3 span {
  font-size: 14px;
  color: #ddd;
}

.imagebox button {
  position: absolute;
  opacity: 0;
  transition: 0.5s;
  padding: 8px 16px;
  font-size: 16px;
  color: white;
  background-color: #d900d4;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  bottom: 30%; /* Adjust the position from the bottom */
  z-index: 3;
}
.imagebox:hover h3,
.imagebox:hover button {
  opacity: 1;
}
